# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Env
.env
.env.local
.env.*.local

# Builds
dist/
build/
out/

# Hardhat / artifacts
artifacts/
cache/
typechain/
coverage/
coverage.json

# OS
.DS_Store
Thumbs.db


./backend/storage/certificates/*